body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1f2937;
}

.container {
    width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    size: 7in 9.25in;
}

header,
footer,
div {
    display: grid;
}

/* Header */

.header {
    align-self: center;
    display: grid;
    margin-top: 5px;
    grid-template-columns: 375px 375px 200px;
    grid-template-rows: 160px 40px;
    grid-template-areas:
        "header__address section__title header__logo"
        "header__address section__title header__company";
}

.header__logo {
    grid-area: header__logo;
}

.header__logo img {
    height: 150px;
    margin-left: 20px;
}

.header__address {
    grid-area: header__address;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header__company {
    grid-area: header__company;
    font-weight: 600;
    font-size: 23px;
}

/* Title */

.section__title {
    text-align: left;
    font-weight: 700;
    font-size: 26px;
    margin-top: 20px;
}

/* Company List */

.section__company-list ul {
    list-style: none;
    padding-left: 0;
}

.section__company-list ul li {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.section__company-list ul li div {
    margin-right: 20px;
}

.section__company-list ul li .company {
    width: 380px;
    text-align: left;
}

.tickbox {
    height: 20px;
    width: 20px;
    border: 2px solid black;
}

/* Supplier Section */

.section__supplier {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 50px 50px 50px 50px;
    margin-bottom: 50px;
}

.section__supplier div {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.supplier-name--title,
.supplier-address--title,
.supplier-telephone--title,
.supplier-code--title,
.supplier-vat--title,
.supplier-date--title,
.supplier-ref--title {
    width: 140px;
}

.supplier-name--text,
.supplier-address--text,
.supplier-telephone--text,
.supplier-code--text,
.supplier-vat--text,
.supplier-date--text,
.supplier-ref--text {
    width: 300px;
    border-bottom: 1px solid black;
}

/* SO Entry Lines */

.section__po-entry-lines table {
    border-collapse: collapse;
    border: 3px solid black;
}

.section__po-entry-lines table th {
    border: 3px solid black;
    height: 35px;
}

.section__po-entry-lines table tr :last-child {
    width: 150px;
}

.section__po-entry-lines table td {
    height: 40px;
    text-align: center;
    border: 1px solid black;
}

/* Bottom Info */

.section__bottom-info {
    display: grid;
    grid-template-columns: 600px 350px;
    grid-template-rows: 50px 50px 50px 100px;
}

.section__bottom-info div {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.due-date--title,
.sub-total-amount--title,
.payment-terms--title,
.vat-amount--title,
.budget-head-ref--title,
.total-amount--title,
.order-form-raised-by--title,
.authorised-by--title {
    width: 240px;
}

.sub-total-amount--title,
.vat-amount--title,
.total-amount--title {
    justify-content: flex-end;
}

.due-date--text,
.payment-terms--text,
.budget-head-ref--text,
.order-form-raised-by--text,
.authorised-by--text {
    width: 300px;
    border-bottom: 1px solid black;
}

.sub-total-amount--text,
.vat-amount--text,
.total-amount--text {
    height: 100%;
    width: 190px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
}
